.vscode
dist
node_modules

test/cypress/screenshots
test/cypress/videos
test/replace-only-in-code-comment-tags/output
test/replace-only-in-code-comment-text/output
test/replace-in-markdown/output
test/replace-with-function/output
