.vscode
dist
node_modules

test/cypress
test/replace-only-in-code-comment-tags/output
test/replace-only-in-code-comment-text/output
test/replace-only-in-included-files/output
test/replace-with-function/output
